.geolocation {
    display: grid;
    padding: 32px 32px 0 0;
    border-right: 1px solid #eeeeee;
    grid-template-rows: 60px 43px 1fr;
    grid-template-columns: 1fr;
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
}
@media (max-width: 1023px) {
    .geolocation {
        padding: 32px 0 0 0;
        border-right: none;
    }
}
@media (max-width: 767px) {
    .geolocation {
        grid-template-rows: 60px 23px 1fr;
    }
}

.geolocation input {
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
}

.select_adress {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

.select_adress > div {
    display: grid;
    grid-template-columns: 93px 225px 1fr;
    grid-gap: 15px;
}
@media (max-width: 767px) {
    .select_adress > div {
        grid-template-columns: 93px 180px 1fr;
        grid-gap: 5px;
    }
}

.select_adress > div > div {
    display: grid;
    align-items: center;
}

.select_adress div > p {
    text-align: right;
} 