.mapbox {
    display: grid;
    grid-row: 3/3;
    grid-template-rows: 16px 1fr;
    grid-gap: 16px;

}

.map_wrapper1{
    display: grid;
    grid-row: 2/2;
    /* height: 57%;
    width: 100%; */
}

.map_wrapper1 > img{
    width: 100%;
    height: auto;
}