.mapbox {
    display: grid;
    grid-row: 3/3;
    grid-template-rows: 16px minmax(280px, 0.8fr);
    grid-gap: 16px;
}

@media (min-height: 1136px) {
    .mapbox {
        grid-template-rows: 16px minmax(280px, 700px);
    }
}

.map_wrapper1{
    display: grid;
    grid-row: 2/2;
}

.map_wrapper{
    display: grid;
    grid-template-rows: 1fr; /* minmax(250px, 1fr); */
    grid-template-columns: 1fr;
    border: 3px solid #f0f0f0;
}