* {
  font-family: Roboto;
  font-weight: 300;
  font-size: 14px;
}

.input {
  float: left;
  border-bottom: 1px solid #999;
  height: 100%;
  width: 100%;
  padding: 0px 8px;
  background-color: transparent;
}

input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
  background: url(./img/Vector.svg);
  cursor: pointer;
}
input::-ms-clear {
  -webkit-appearance: button;
  background: none;
  width: 15px;
  height: 15px;
  color: #121212;
}

::-webkit-input-placeholder {
  color: #999999;
  transition: color 0.3s ease;
}
::-moz-placeholder {
  color: #999999;
  transition: color 0.3s ease;
} /* Firefox 19+ */
:-moz-placeholder {
  color: #999999;
  transition: color 0.3s ease;
} /* Firefox 18- */
:-ms-input-placeholder {
  color: #999999;
  transition: color 0.3s ease;
}
:focus::-webkit-input-placeholder {
  color: transparent;
  transition: color 0.3s ease;
}
:focus::-moz-placeholder {
  color: transparent;
  transition: color 0.3s ease;
}
:focus:-moz-placeholder {
  color: transparent;
  transition: color 0.3s ease;
}
:focus:-ms-input-placeholder {
  color: transparent;
  transition: color 0.3s ease;
}

.options {
  position: absolute;
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 28px;
  margin-left: 98px;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: 235px;
}

.options li {
  padding: 0.5rem;
  background: #ffffff;;
}

.options li:not(:last-of-type) {
  border-bottom: 1px solid rgb(153, 153, 153);
}

.options li:hover {
  background:#0ec261;
  color: #ffffff;
  cursor: pointer;
}

.options li.option_active {
  background: #000000;
  color: #ffffff;
  cursor: pointer;
}
.no_options {
  color: #999;
  padding: 0.5rem;
}

.search {
  width: 30rem;
  margin: 10rem auto 2rem auto;
  text-align: right;
}
