.content {
    display: grid;
    height: 100%;
    width: 100%;
    padding-top: 32px;
    grid-template-rows: 32px 32px 34px 1fr;
}

.content > header {
    max-width: 1376px;
    padding: 0 64px;
    margin: 0 auto;
}

/* --------------------- */

.navbar {
    display: grid;
    grid-row: 3/4;
    max-width: 100%;
    height: 100%;
    padding: 0 64px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    grid-template-columns: 1fr minmax(736px, 1248px) 1fr;
    grid-template-rows: 1fr;
}

.navbar_elements {
    display: grid;
    height: 100%;
    grid-column: 2/3;
    grid-template-columns: 430px 1fr;
    grid-template-rows: 1fr;
}

.navbar_elements > div {
    align-items: center;
}

.nav_element {
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 32px;
    color: #999999;
}

.nav_element_active {
    color: #b0ca39;
}

.arrow {
    display: block;
    margin: 5px 13px 0 16px;
    display: inline-block;
    border: 4px solid transparent;
    border-left: 5px solid #999999;
    width: 0;
    height: 0;
}

/* --------------------------- */
.body {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 64px;
    grid-template-columns: 1fr minmax(736px, 1248px) 1fr;
    grid-template-rows: 1fr;
}

.body_content {
    display: grid;
    height: 100%;
    grid-column: 2/3;
    grid-template-columns: minmax(769px, 928px) 320px;
    grid-template-rows: 1fr;
}

.geolocation {
    display: grid;
    padding: 32px 32px 0 0;
    /* background-color: rgb(203, 255, 118); */
    border-right: 1px solid #eeeeee;
    grid-template-rows: 60px 43px 1fr;
    grid-template-columns: 1fr;
}

.map {
    display: grid;
    grid-row: 3/3;
    grid-template-rows: 16px 1fr;
    grid-gap: 16px;
}

.map img {
    max-width: 736px;
    max-height: 352px;
}

.select_adress {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}

.select_adress > div {
    display: grid;
    grid-template-columns: 93px 235px 1fr;
    grid-gap: 15px;
}

.select_adress > div > div {
    display: grid;
    align-items: center;
}

.select_adress div > p {
    text-align: right;
    font-family: Roboto;
    font-weight: 300;
    font-size: 14px;
}

.city_line > div:nth-child(2) > div > div {
    height: 25px;
}