.header {
    display: grid;
    height: 32px;
    width: 100%;
    grid-template-areas: "h3 headspace geolocation";
    grid-template-rows: 32px;
    grid-template-columns: 192px 1fr 94px;
    align-items: center;
}

.header h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #0ec261;
    grid-area: h3;
    justify-self: end;
}

.space {
    grid-area: headspace;
}

.geolocation {
    grid-area: geolocation;
}

.geolocation svg {
    display:inline-block;
    vertical-align: middle;
    padding-bottom: 3px;
}

.city{
    padding-left: 5px;
    vertical-align: middle;
    display:inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
}


