.header,
.header_order > div:nth-child(1){
    display: none;
}
.header {
    width: 100%;
}
.header,
.header_order {
    display: grid;
    height: 32px;
    grid-template-areas: "h3 headspace geolocation";
    grid-template-rows: 32px;
    grid-template-columns: 192px 1fr 94px;
    align-items: center;
}
@media (max-width: 1439px) {
    .header_order {
        grid-template-columns: 1fr 192px minmax(536px, 958px) 94px 1fr;
        grid-template-areas:
        '. h3 . geolocation .';
    }
}
@media (max-width: 1023px) {
    .header_order {
        grid-template-columns: 1fr 192px minmax(236px, 958px) 94px 1fr;
    }
}
@media (max-width: 767px) {
    .header_order {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .header,
    .header_order {
        grid-template-areas:
            "h3"
            "geolocation";
        grid-template-rows: 36px 36px;
        grid-template-columns: 1fr;
        justify-items: end;
    }
    .space {
        display: none;
    }
}


.header h3,
.header_order h3 {
    font-weight: 700;
    font-size: 30px;
}
.header a:nth-child(1),
.header_order a:nth-child(1) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #0ec261;
    grid-area: h3;
    justify-self: end;
}


.space {
    grid-area: headspace;
}

.geolocation {
    grid-area: geolocation;
}

.geolocation > a svg {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 3px;
}

.city {
    padding-left: 5px;
    vertical-align: middle;
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
}
