.content__slider {
  grid-area: slid;
  display: grid;
}
@media (max-width: 1023px) {
  .content__slider {
    display: none;
  }
}

.content__slider .swiper__bgrd {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Roboto;
  color: #eeeeee;
}

.a1 {
  background: linear-gradient(90deg, #13493f 0%, #0c7b1b 100%);
}

.a2 {
  background: linear-gradient(90deg, #132949 0%, #0c7b67 100%);
}

.a3 {
  background: linear-gradient(90deg, #493013 0%, #7b0c3b 100%);
}

.a4 {
  background: linear-gradient(90deg, #281349 0%, #720c7b 100%);
}
